@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap");
@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  /* Браузер сначала попробует найти шрифт локально */
  src: local("Helvetica"), url("/assets/fonts/helvetica_regular.otf") format("otf");
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

@keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background: rgba(252, 247, 238, 0.53);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
}

p {
  padding-bottom: 1em;
}

header,
.mainContent,
footer {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

header {
  color: #fff;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 25px;
  }
}

.header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 123px;
}

.header::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background-color: #282623;
}

.header__menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__menuItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px;
}

.header__menuItemLink {
  border-radius: 0px 5px;
  padding: 8px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__menuItemLink.active, .header__menuItemLink:hover {
  background-color: #25D16AD9;
}

.header__logo__img {
  max-width: 125px;
  height: auto;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__phone:hover {
  color: #25D16AD9;
}

.header__phone__img {
  max-height: 40px;
  width: auto;
}

.banner {
  width: 100%;
  height: 595px;
  position: relative;
}

.banner__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner__container {
  position: absolute;
  height: 100%;
  color: #fff;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__tittle {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 127%;
  padding-bottom: 30px;
}

.banner__tittle span {
  font-weight: 300;
}

.banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 -10px;
}

.banner__buttonsItem {
  background-color: #25D16AD9;
  padding: 8px 15px;
  border-radius: 0px 5px;
  margin: 5px 10px;
}

.banner__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 134%;
  padding-top: 30px;
  max-width: 60%;
}

@media screen and (max-width: 1000px) {
  .banner__text {
    max-width: 1000px;
  }
}

.banner__bigButton {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 123.5%;
  text-transform: uppercase;
  background-color: #25D16AD9;
  border: 2px solid #FFFFFF;
  border-radius: 0px 15px;
  padding: 11px 60px;
}

.banner__bigButton:after {
  margin-left: -30px;
  content: " ";
  width: 30px;
  height: 300px;
  background: #fff;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  position: absolute;
  left: -40px;
  top: -150px;
  top-animation-timing-function: ease-in-out;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-animation-name: slideme;
          animation-name: slideme;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.Slice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.intro {
  padding: 80px 0 85px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #000000;
}

.intro::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #C4C4C46B;
}

@media screen and (max-width: 875px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro__image {
  max-width: 480px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 875px) {
  .intro__image {
    width: 100%;
    max-width: 100%;
  }
}

.intro__image__img {
  width: 100%;
  height: 100%;
}

.intro__text {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__text__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  padding-bottom: 23px;
}

.intro__text__button {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 123.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #25D16AD9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 31px;
  border-radius: 0px 15px;
  margin-bottom: 43px;
}

.intro__text__desc {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 128%;
}

.middleContent {
  padding: 112px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middleContent__container {
  background: rgba(40, 38, 35, 0.84);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(37, 209, 106, 0.76);
          box-shadow: 0px 0px 10px 2px rgba(37, 209, 106, 0.76);
  border-radius: 0px 40px;
  padding: 73px 73px 93px;
}

@media screen and (max-width: 875px) {
  .middleContent__container {
    padding: 35px;
  }
}

.middleContent__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #25D16AD9;
}

.middleContent__desc {
  max-width: 635px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 128%;
  /* or 28px */
  text-align: center;
  padding-bottom: 0;
  padding-top: 11px;
  color: #FFFFFF;
}

.blockName {
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 211px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.darkTitle {
  padding: 58px 0;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.darkTitle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #383735;
  -webkit-box-shadow: 0px 4px 7px rgba(37, 209, 106, 0.76);
          box-shadow: 0px 4px 7px rgba(37, 209, 106, 0.76);
}

.blockName__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
}

.blockName__secondary {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.quality {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 0;
}

.quality__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quality__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.quality__block:first-child {
  margin-right: 30px;
  width: 66.666666%;
}

.quality__block:last-child {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 33.333333%;
}

.quality__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quality__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.quality__description:first-child {
  margin-right: 30px;
}

.quality__description__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quality__description__text {
  margin-top: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.quality__block__img {
  margin-top: -150px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.quality__description__link {
  font-family: 'Roboto';
  margin-top: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.quality__description__link:hover {
  color: #25D16AD9;
  text-decoration: underline;
}

.greyTitle {
  color: #000000;
}

.greyTitle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #C4C4C4;
}

.processing {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 87px 0;
}

.processing::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #F1EFEA;
}

.processing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.processing__block:nth-child(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 20px;
}

@media screen and (max-width: 875px) {
  .processing__block {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .processing__block:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.processing__preview {
  width: 50%;
}

@media screen and (max-width: 875px) {
  .processing__preview {
    width: 100%;
    padding-bottom: 20px;
  }
}

.processing__preview__img {
  width: 100%;
  max-width: 567px;
  height: auto;
}

.processing__links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -32px 0;
}

@media screen and (max-width: 875px) {
  .processing__links {
    margin: -15px 0;
    width: 100%;
    padding-bottom: 20px;
  }
}

.processing__links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px;
  background: #E1E0DD;
  opacity: 0.45;
  border: 1px solid #000000;
  border-radius: 0px 15px;
  height: 70px;
  max-width: 446px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 171%;
  text-align: center;
}

.processing__links__link.active {
  color: #25D16AD9;
  background-color: #383735;
  opacity: 1;
  -webkit-box-shadow: 0px 0px 17px rgba(37, 209, 106, 0.9);
          box-shadow: 0px 0px 17px rgba(37, 209, 106, 0.9);
}

@media screen and (max-width: 875px) {
  .processing__links__link {
    margin: 15px 0;
  }
}

.lightGreyTitle::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #E0DFDD;
}

.services {
  padding: 80px 0;
}

@media screen and (max-width: 875px) {
  .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.services::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #C4C4C4;
}

.services__block {
  margin: -33px 0;
  margin-top: -170px;
}

.services__block:first-child {
  margin-right: 50px;
  width: 50%;
}

@media screen and (max-width: 875px) {
  .services__block {
    margin: -20px 0;
    width: 100%;
  }
  .services__block:first-child {
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }
}

.services__card {
  position: relative;
  display: block;
  background: #494643;
  border-radius: 33px;
  margin: 33px 0;
  padding: 33px 31px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.services__card:hover {
  -webkit-filter: drop-shadow(0px 0px 11px rgba(37, 209, 106, 0.76));
          filter: drop-shadow(0px 0px 11px rgba(37, 209, 106, 0.76));
}

@media screen and (max-width: 875px) {
  .services__card {
    margin: 20px 0;
  }
}

.services__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.services__head span:last-child {
  font-size: 14px;
  line-height: 22px;
}

.services__head .razdel {
  padding: 0 1em 0 0.5em;
}

.services__head h4,
.services__head span {
  max-width: 210px;
}

.services__list {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 134%;
  /* or 24px */
  color: #FFFFFF;
  list-style: decimal;
  padding-left: 1em;
  padding-top: 15px;
}

.services__price {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 134%;
  color: #25D16AD9;
}

.services__price span:first-child {
  font-size: 24px;
}

.services__price sup {
  vertical-align: super;
  font-size: 0.7em;
}

.services__card__button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 33px 0px;
  background-color: #25D16AD9;
}

.services__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  padding: 22px 0;
  margin-top: 57px;
  text-transform: uppercase;
}

@media screen and (max-width: 875px) {
  .services__button {
    margin-top: 20px;
  }
}

.blockName-gallery {
  padding-bottom: 120px;
  text-align: center;
}

@media screen and (max-width: 875px) {
  .blockName-gallery {
    padding-bottom: 20px;
  }
}

.gallery {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 875px) {
  .gallery__slider {
    margin-top: 60px;
  }
}

.gallery__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 33px;
  overflow: hidden;
  max-width: 340px;
}

.gallery__picture {
  width: 100%;
  height: 264px;
}

.gallery__picture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  padding: 33px 37px;
  background: #494643;
}

.gallery__info__name {
  ont-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 15px;
}

.gallery__info__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.5%;
  /* or 22px */
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  padding: 7px 0;
  border-radius: 19px;
  background-color: #25D16AD9;
}

.gallery__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 58px 0 53px;
}

.gallery__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #C0BEBA;
  margin: 5px;
  cursor: pointer;
}

.gallery__dot.active {
  background: rgba(73, 70, 67, 0.46);
}

.feedbackTitle {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.feedbackTitle .blockName__title,
.feedbackTitle .blockName__secondary {
  width: 50%;
}

@media screen and (max-width: 875px) {
  .feedbackTitle {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .feedbackTitle .blockName__title,
  .feedbackTitle .blockName__secondary {
    width: 100%;
  }
}

.feedback {
  padding: 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  margin-left: -50vw;
  background: #E0DFDD;
}

.feedback__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 875px) {
  .feedback__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feedback__picture {
  width: 50%;
  border-radius: 0px 89px 0px 0px;
  overflow: hidden;
  margin-top: -130px;
  padding-right: 120px;
}

@media screen and (max-width: 875px) {
  .feedback__picture {
    margin-top: 0;
    padding-right: 0;
    width: 100%;
    max-width: 434px;
  }
}

.feedback__picture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback__form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 875px) {
  .feedback__form {
    width: 100%;
    padding-top: 40px;
  }
}

.input__wrapper {
  position: relative;
  color: #000000;
}

.input__wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-size: cover;
}

.input__wrapper__name::before {
  background: url("/img/icon_name.svg") no-repeat;
}

.input__wrapper__tel::before {
  background: url("/img/icon_tel.svg") no-repeat;
}

.input__wrapper__mail::before {
  background: url("/img/icon_mail.svg") no-repeat;
}

.feedback__input {
  margin-bottom: 44px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  border: none;
  padding: 21px 10px 16px 70px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 134%;
  color: #000000;
  position: relative;
  width: 100%;
}

.feedback__input:focus {
  border: none;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(37, 209, 106, 0.73);
          box-shadow: 0px 0px 4px 1px rgba(37, 209, 106, 0.73);
}

.feedback__input::-webkit-input-placeholder {
  color: #BDBDBC;
}

.feedback__submit {
  border-radius: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 123.5%;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #25D16AD9;
  padding: 21px 10px;
  cursor: pointer;
}

.feedback__property {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 134%;
  color: #383735;
  margin-top: 30px;
}

@media screen and (max-width: 875px) {
  .feedback__property {
    font-size: 14px;
  }
}

.bigHeading {
  padding: 148px 10px 81px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bigHeading__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.Services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 180px;
}

.Services__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(196, 196, 196, 0.51);
}

.Services__title__item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 17px 5px;
  cursor: pointer;
}

.Services__title__item.active {
  background-color: #25D16AD9;
  border-radius: 30px 0px;
}

.Services__title__item:last-child:active {
  border-radius: 0px 30px;
}

.Services__content {
  padding: 30px 50px;
  background: rgba(255, 255, 255, 0.59);
  font-family: 'Raleway';
}

.Services__content.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Services__itemContent__title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Services__itemWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 66px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Services__itemPicture {
  max-width: 412px;
  border-radius: 30px;
  overflow: hidden;
}

.Services__itemPicture__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Services__itemList {
  width: 55%;
}

.Services__itemList li {
  position: relative;
  padding-left: 30px;
  min-height: 60px;
  margin-bottom: 45px;
  padding-left: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.Services__itemList li:last-child {
  margin-bottom: 0;
}

.Services__itemList li.active {
  color: #000000;
}

.Services__itemList li.active .Services__itemList__number {
  color: #000000;
  opacity: 1;
}

.Services__itemList li.lastActive {
  color: #000000;
}

.Services__itemList li.lastActive .Services__itemList__number {
  color: #25D16AD9;
  opacity: 1;
  background: #383735;
  -webkit-box-shadow: 0px 0px 17px rgba(37, 209, 106, 0.9);
          box-shadow: 0px 0px 17px rgba(37, 209, 106, 0.9);
}

.Services__itemList__number {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 59px;
  width: 67px;
  background: #EFEEE9;
  opacity: 0.5;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 0px 15px;
}

.quality__topButton {
  border-radius: 0px 30px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  background-color: #25D16AD9;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 33px;
  margin-bottom: 56px;
  margin-top: -113px;
}

.quality__bottomButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  margin-top: 25px;
}

.quality__bottomButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 0px 10px;
  background-color: #25D16AD9;
  margin: 0 10px;
}

.footer {
  padding: 45px 0 55px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
}

.footer__info .footer__description {
  padding-top: 16px;
}

.footer__info:first-child {
  padding-top: 0;
}

.footer__logo {
  max-width: 125px;
  max-height: 90px;
  margin-bottom: 10px;
}

.footer__title {
  padding-top: 16px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.footer__description {
  max-width: 358px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.footer__menu {
  padding-top: 34px;
}

.footer__menu__item {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__menu__item:hover {
  text-decoration: underline;
  color: #25D16AD9;
  fill: #25D16AD9;
}

.footer__menu__item:hover image {
  fill: #25D16AD9;
  color: #25D16AD9;
}

.footer__menu__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  margin: 12px 0;
}
/*# sourceMappingURL=style.css.map */